<h1>Aircraft Map</h1>
<p>Date Range:</p>
<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input #startDate matStartDate formControlName="start" placeholder="Start" >
    <input #endDate matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker (closed)="setNewDate(startDate.value, endDate.value)"></mat-date-range-picker>
</mat-form-field>
<p>Altitude:</p>
<mat-slider min="0" max="50000" step="1000">
  <input #minAltitude matSliderStartThumb (valueChange)="changeAltitude(minAltitude.value, maxAltitude.value)">
  <input #maxAltitude matSliderEndThumb (valueChange)="changeAltitude(minAltitude.value, maxAltitude.value)">
</mat-slider>
<p>Enter specific aircraft registration:</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Aircraft Registration(s)</mat-label>
    <input matInput #acReg value="" placeholder="D-AINA,D-AINB" (input)="filterAircraft(acReg.value)">
  </mat-form-field>
</form>
<div id="map"></div>
<a routerLink="/">Go to Index Page</a>
